@model IEnumerable<ArtistsMVC.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*-----------------------------------------------Simple----------------------------------*@
@*<table class="table" id="artists">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.FullName, "Edit", "Artists", new { id = item.ID}, null)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID}) |
                    <button class="btn-link js-delete" data-artist-id="@item.ID">Delete</button>
                </td>
            </tr>
        }
    </tbody>

</table>


@section scripts{

    <script>
        $(document).ready(function () {
            $("#artists").DataTable();

            $("#artists").on("click", ".js-delete", function () {
                var button = $(this);
                console.log(button);

                bootbox.confirm("Are you sure to delete this artist?", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/artists/" + button.attr("data-artist-id"),
                            method: "DELETE"
                        }).done(function (response) {
                            console.log(response);
                            button.parents("tr").fadeOut();
                        }).fail(function (error) {
                            console.log(error);
                        });
                    }

                });
            });
        });
    </script>
}*@

@*--------------------------------------------------------------Ajax--------------------------------*@

<table class="table" id="artists">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
        </tbody>
    }

</table>


@section scripts{

    <script>
        $(document).ready(function () {

            var table = $("#artists").DataTable({
                ajax: {
                    url: "/api/artists",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "fullName",
                        render: function (data, type, artist) {
                            return "<a href = '/artists/edit/" + artist.id + "'>" + artist.fullName + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, artist) {
                            return "<a href='/artists/details/" + artist.id + "'> Details </a> | <button class= 'btn-link js-delete' data-artist-id=" + artist.id + ">Delete</button>";
                        }
                    }
                ]
            })

            $("#artists").on("click", ".js-delete", function () {
                var button = $(this);
                console.log(button);

                bootbox.confirm("Are you sure to delete this artist?", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/artists/" + button.attr("data-artist-id"),
                            method: "DELETE"
                        }).done(function (response) {
                            console.log(response);
                            button.parents("tr").fadeOut();
                        }).fail(function (error) {
                            console.log(error);
                        });
                    }

                });
            });
        });
    </script>

}